mat-sidenav {
    width: 250px;
}

mat-sidenav-container {
    min-height: 100%;
}

mat-sidenav-content {
    min-height: 100%;
}

.nav-caption {
    display: inline-block;
    padding-left: 10px;
}

.container {
    display: grid;
    grid-template-areas: "content sidebar";
    grid-template-columns: minmax(max-content, 100%) minmax(0, max-content);
}

.content {
    grid-area: content;
    background-color: lightblue;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgreen;
}


